name: Update Names
on:
  schedule:
    - cron:  '*/10 * * * *'
  workflow_dispatch:
jobs:
  updateNames:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get Latest Letter SHA
        id: letter
        run: |
          echo ::set-output name=sha::$(curl -sL https://api.github.com/repos/rms-support-letter/rms-support-letter.github.io/branches/master | jq -r ".commit.sha")
          echo ::set-output name=current_sha::$(<lettersha.version)
      - name: Download new letter signers
        #if: steps.letter.outputs.current_sha != steps.letter.outputs.sha
        env:
          COMMIT_SHA: ${{ steps.letter.outputs.sha }}
        run: |
          wget https://api.github.com/repos/rms-support-letter/rms-support-letter.github.io/tarball -O $COMMIT_SHA
          ls
      - name: Extract letter signers
        env:
          COMMIT_SHA: ${{ steps.letter.outputs.sha }}
        run: |
          tar -v -xzf $COMMIT_SHA --strip-components=1 $(tar -tzf $COMMIT_SHA | head -1 | cut -f1 -d"/")/_data/signed
          rm -f _data/signed/sticks-stuf.yaml
          ls
      - name: Update Names List
        run: |
          # Convert all the YAML files to one big JSON file

          npx --package yamljs yaml2json _data/signed/ --save
          find _data/signed -name '*.json' -exec cat '{}' + | jq -s '.' > names.json
      - name: Create new stylesheet
        run: |
          node generate-styles.js > styles.css
      - name: Clean Up
        env:
          COMMIT_SHA: ${{ steps.letter.outputs.sha }}
        run: |
          rm $COMMIT_SHA
          rm -r _data/signed
          rm -fr names.json
          
          # Update current SHA version
          echo ${{ steps.letter.outputs.sha }} > lettersha.version
      - name: Commit and Push
        run: |
          git config --global user.name 'RMS Supporter Bot'
          git config --global user.email 'rmssupporterbot@users.noreply.github.com'
          git commit -am "New JSON names"
          git push
